<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kma_application"
    android:targetSandboxVersion="1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/run"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/run"
        android:supportsRtl="true"
        android:theme="@style/Theme.KMA_Application"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activity.ParentLessonActivity"></activity>
        <activity android:name=".Activity.TeacherPostLessonActivity" />
        <activity android:name=".Activity.TeacherLessonActivity" />
        <activity android:name=".Activity.PostStatusActivity" />
        <activity android:name=".Activity.TeacherChildHeathActivity2" />
        <activity android:name=".Activity.TeacherMessengerActivity" />
        <activity android:name=".Activity.AdminNotificationActivity" />
        <activity android:name=".Activity.AdminCreateNotificationActivity" />
        <activity android:name=".Activity.AdminAddUser" />
        <activity android:name=".Activity.AdminManageUser" />
        <activity android:name=".Activity.ViewImageActivity" />
        <activity android:name=".Activity.GalleryActivity" />
        <activity android:name=".Activity.AdminHomeActivity" />
        <activity android:name=".Activity.TeacherChildAbsentActivity" />
        <activity android:name=".Activity.TeacherAbsentActivity" />
        <activity android:name=".Activity.TeacherChildMedicineActivity" />
        <activity android:name=".Activity.TeacherChildHealthActivity" />
        <activity android:name=".Activity.TeacherHealthActivity" />
        <activity android:name=".Activity.TeacherPrescriptionActivity" />
        <activity android:name=".Activity.ParentPrescriptionActivity" />
        <activity android:name=".Activity.ParentHealthActivity" />
        <activity android:name=".Activity.ParentAbsentActivity" />
        <activity android:name=".Activity.ChangePasswordActivity" />
        <activity android:name=".Activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.ContactActivity" />
        <activity android:name=".Activity.MainActivity"/>
    </application>

</manifest>